/* src\app\styles\globals.css */

@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

@import "tailwindcss";

@import "./pages/home.css";

:root {
  --background-color: hsl(210, 89%, 7%, 1);
  --primary-font-color: hsla(53, 82%, 66%, 1);
  --secondary-font-color: hsla(335, 100%, 66%, 1);
  --text-field-background-color: hsla(0, 0%, 86%, 1);
  --neutral-color: hsla(0, 0%, 100%, 1);
  --neutral-color-faded: hsla(0, 0%, 100%, 0.4);
  --neutral-color-2: hsla(0, 0%, 0%, 1);
  --neutral-color-2-faded: hsla(0, 0%, 0%, 0.4);
}

@theme inline {
  --color-background: var(--neutral-color-faded);
  --color-foreground: var(--background-color);
}

@base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    @apply bg-background text-foreground;
  }
}

@utility body {
  @apply p-10;
}

@utility navbar {
  @apply bg-[hsla(210,89%,7%,1)] text-neutral-color p-4;
}

@utility navbar-desktop {
  @apply bg-[hsla(210,89%,7%,1)] text-neutral-color p-4;
}

@utility nav-icon-container {
  @apply flex items-center;
}

@utility div-icon {
  @apply block;
}

@utility link {
  @apply no-underline;
}

@utility link-text {
  @apply text-lg font-semibold;
}
