/* src\app\styles\globals.css */

@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

@import "tailwindcss";

@import "./components/navbar_desktop.css";
@import "./pages/home.css";
@import "./pages/search.css";
@import "./pages/login.css";
@import "./components/footer.css";
@import "./components/navbar.css";

:root {
  --background-color: hsla(210, 89%, 7%, 1);
  --primary-font-color: hsla(53, 82%, 66%, 1);
  --secondary-font-color: hsla(335, 100%, 66%, 1);
  --text-field-background-color: hsla(0, 0%, 86%, 1);
  --neutral-color: hsla(0, 0%, 100%, 1);
  --neutral-color-faded: hsla(0, 0%, 100%, 0.4);
  --neutral-color-2: hsla(0, 0%, 0%, 1);
  --neutral-color-2-faded: hsla(0, 0%, 0%, 0.4);
}

@theme inline {
  --color-background: var(--neutral-color-faded);
  --color-foreground: var(--background-color);
  --color-primary: var(--primary-font-color);
  --color-secondary: var(--secondary-font-color);
  --color-neutral: var(--neutral-color);
  --color-neutral-2: var(--neutral-color-2);
  --color-neutral-2-faded: var(--neutral-color-2-faded);
  --color-text-field: var(--text-field-background-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-color);
    --foreground: var(--neutral-color);
  }
} */

@utility body {
  @apply px-10 flex flex-col min-h-screen  pb-20 md:pb-0;
}

@utility navbar-desktop-container {
  @apply block;
}

@utility main {
  @apply flex-grow pb-4 flex flex-col;
}

@utility navbar-container {
  @apply md:hidden;
}

body {
  background: var(--background-color);
  color: var(--neutral-color);
}
